* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100vh;
    background-color: #7567fa;
    font-family: sans-serif;
    overflow: hidden;
    color: #fff;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
  }
  
  .blur-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    z-index: 1;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 268px;
    margin-bottom: 88px;
    position: relative;
    z-index: 4;
  }
  
  .btn {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
  }
  
  .premium {
    background: linear-gradient(90deg, rgb(255, 75, 75), rgb(255, 187, 61), rgb(255, 248, 112), lightgreen, rgb(102, 163, 255), rgb(188, 121, 255), rgb(244, 122, 255));
    background-size: 200% 200%;
    animation: gradientShift 15s ease infinite;
    color: white;
  }
  
  .entrar {
    background-color: #5865F2;
    color: white;
  }
  
  .footer-img {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 0;
  }
  
  .header-img {
    position: absolute;
    top: 188px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 800px;
    height: 80px;
    object-fit: contain;
    z-index: 4;
  }
  
  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

