@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100vh;
  background-color: #7567fa;
  font-family: sans-serif;
  color: #fff;
  overflow: hidden;
}

.blur-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  z-index: 1;
}

.banner-container {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  margin-top: -50px;
}

.header-img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: contain;
  display: block;
  margin-bottom: 1px;
  z-index: 4;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 4;
}

.btn {
  padding: 20px 40px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  color: white;
  box-shadow: 0 4px 30px rgb(46, 34, 139); /* sombra mais escura e suave */
}

.premium {
  background: linear-gradient(90deg, rgb(255, 75, 75), rgb(255, 187, 61), rgb(255, 248, 112), lightgreen, rgb(102, 163, 255), rgb(188, 121, 255), rgb(244, 122, 255));
  background-size: 200% 200%;
  animation: gradientShift 15s ease infinite;
}

.entrar {
  background-color: #5865F2;
}

.footer-img {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 0;
}

/* Hover effects */
.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 30px rgb(51, 37, 141);
}

.premium:hover {
  filter: brightness(1.05);
}

.entrar:hover {
  background-color: #4752c4;
}

.staff-floating-icons {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Pra não atrapalhar cliques */
  z-index: 2; /* Fica acima do blur mas abaixo dos botões */
}

.staff-icon {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  animation: floatXY 6s ease-in-out infinite alternate;
}

@keyframes floatXY {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(10px, -15px);
  }
  50% {
    transform: translate(-10px, -10px);
  }
  75% {
    transform: translate(15px, 10px);
  }
  100% {
    transform: translate(0px, 15px);
  }
}


/* ESTOURAR BOLHA */
@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.estourado {
  animation: explode 0.5s forwards;
  pointer-events: none; /* Impede novos cliques enquanto anima */
}
